// .input{
//     background-color: aqua;
// }
.list{
    display: flex;
    justify-content: center;
    background-color: aqua;
    height:50px;
    padding-top: 40px;
    border-style:solid;

}
.input{
    display: flex;
    justify-content: center;
    background-color: burlywood;
    height: 5   0px;
    padding-top: 20px;
    border-style: solid;
    
};
.check{
    border-radius: 50px;
}
.a1{
    // height: 20px;
    width:70px;
}







