<!-- <p>parent works!</p> -->
<!-- <div>Todolist</div>
<div class="input">
    <label for="">Enter your Task</label>
    <input type="text" name="task" [(ngModel)]="Ntask">
    <button type="button" (click)="add()"> submit</button>
    
</div>
<ng-container *ngFor="let task of tasklist">
    <app-child [passvalue]="task"></app-child>
</ng-container> -->
<!-- ------------------------------------------------------------- -->
<div class="list">To do list</div>

<div class="input">
    <label for="">Enter your Task</label>
    <input type="text" class="a1" name="task" [(ngModel)]="Ntask">
    <button type="button" [disabled]=!Ntask class="check" (click)="add()"> submit</button>
</div>











